<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.ApplicationMetricsActivity"
            android:exported="false" />

        <service
            android:name=".ApplicationStatusService"
            android:description="@string/application_status_description"
            android:exported="false" />
    </application>

</manifest>