<manifest package="org.radarbase.android.auth.qr"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:hardwareAccelerated="true">

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            tools:replace="android:screenOrientation"
            android:screenOrientation="user"/>
    </application>

</manifest>
