<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application android:allowBackup="true">
        <service android:name=".GooglePlacesService"
            android:foregroundServiceType="location"
            android:exported="false"
            android:description="@string/google_places_description" />
    </application>
</manifest>
