<manifest xmlns:tools="http://schemas.android.com/tools" package="org.radarbase.passive.garmin"
xmlns:android="http://schemas.android.com/apk/res/android">

<uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!-- Foreground Permission required for newer Android SDKs -->
<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

<!-- /PERMISSIONS THAT ENABLE GENERAL NOTIFICATIONS -->

<!-- SDK Required Permission -->
<uses-permission android:name="${applicationId}.permission.RECEIVE_BROADCASTS" />

<permission
    android:name="${applicationId}.permission.RECEIVE_BROADCASTS"
    android:protectionLevel="normal" />

<application
    android:supportsRtl="true"
    android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".MainActivity"/>
    <activity android:name=".ui.DataDisplayActivity"/>

    <meta-data
        android:name="com.garmin.android.gncs.permission"
        android:value="${applicationId}.permission.RECEIVE_BROADCASTS"/>
    <meta-data
        android:name="com.garmin.health.use_foreground_service"
        android:value="true"/>
    <meta-data
        android:name="com.garmin.health.notification_channel_name"
        android:value="Garmin Health Service"/>
    <meta-data
        android:name="com.garmin.health.notification_channel_description"
        android:value="Channel for notification related to the Garmin Health SDK on Behalf of Partner Applications"/>

    <meta-data
        android:name="com.garmin.health.foreground_notification_title"
        android:value="Garmin Health Service"/>

    <service android:name="com.garmin.health.GarminHealthService"
        android:enabled="true"
        android:process=":ghProcess"
        tools:replace="android:enabled,android:process"/>

    <service android:name="com.garmin.android.gncs.GNCSListenerService"
        android:process=":ghProcess"
        tools:replace="android:process"/>
    <service android:name=".GarminService"/>
</application>
</manifest>
